body.html img.file-icon {
  max-width: 30px;
}
.container {
  width: 100%;
}
#content-column,
.content-column,
div.sidebar {
  float: left;
  clear: none;
}
div.sidebar.region-sidebar-first {
  width: 100%;
}
.block-boxes-os_boxes_sectionnav {
  margin-top: 1rem;
}

@media screen and (min-width: 48.0625rem) {
  .block-boxes-os_boxes_sectionnav {
    width: 200px;
  }
  div.sidebar.region-sidebar-first {
    width: inherit;
  }
  .two-sidebars .content-inner {
    margin-left: 200px;
    margin-right: 260px;
  }
  .sidebar-first .content-inner {
    margin-left: 200px;
    margin-right: 0;
  }
  .page-publications .content-inner,
  .page-presentations .content-inner,
  .page-news .content-inner,
  .page-news .content-inner #main-content-header,
  .node-type-news .node-content,
  .node-type-news .content-inner #main-content-header,
  .node-type-biblio .content-inner {
    margin-right: 260px;
  }
  .sidebar-second .content-inner {
    margin-left: 0;
  }
  .region-sidebar-first {
    width: 200px;
    margin-left: -100%;
  }
  .region-sidebar-second {
    width: 260px;
    margin-left: -260px;
  }
}

.at-panel .region,
.panel-row {
  display: inline;
  float: left;
}
.inset-wrapper {
  float: left;
  width: 75%;
}
.five-5x20 .row-1 {
  width: 40%;
}
.five-5x20 .row-2 {
  width: 60%;
}
.three-50-25-25 .region,
.three-25-50-25 .region,
.three-25-25-50 .region,
.region-three-inset-right-sidebar,
.region-three-inset-left-sidebar {
  width: 25%;
}

.two-50 .region,
.two-brick .region,
.three-50-25-25 .region-three-50-25-25-first,
.three-25-50-25 .region-three-25-50-25-second,
.three-25-25-50 .region-three-25-25-50-third,
.four-4x25 .region,
.four-4x25 .row-1,
.four-4x25 .row-2,
.five-5x20 .row-1 .region,
.six-6x16 .region {
  width: 50%;
}

.three-3x33 .region,
.two-33-66 .region,
.two-66-33 .region,
.region-three-inset-right-inset,
.region-three-inset-left-inset,
.five-5x20 .row-2 .region,
.six-6x16 .panel-row {
  width: 33.333333%;
}

.two-33-66 .region-two-33-66-second,
.two-66-33 .region-two-66-33-first,
.region-three-inset-left-middle,
.region-three-inset-right-middle {
  width: 66.666666%;
}
.three-inset-right .region,
.three-inset-right .inset-wrapper {
  float: right;
}
.two-brick .panel-row {
  float: none;
}

#header-container .gpanel .region {
  float: left;
  clear: none;
}

.region-header-first {
  width: 260px;
  margin-left: -100%;
}
.region-header-third {
  width: 330px;
  margin-left: -330px;
  text-align: right;
}
.region-header-second {
  width: 100%;
}

.front .content-left.content-right .at-panel .region.region-content-first,
.front .content-left.content-right .at-panel .region.region-content-second,
.front .content-left.content-right .at-panel .region.region-content-bottom {
  clear: none;
  display: inline;
  float: left;
  margin: 15px 0;
  width: 31%;
}

.front .content-left.content-right .at-panel .region.region-content-first,
.front .content-left.content-right .at-panel .region.region-content-second {
  margin-right: 15px;
  border-right: 1px solid #abd407;
}
.front .content-left.content-right .at-panel .region.region-content-first {
  padding-left: 10px;
}
